configuration {
	modi:               "window,run,drun";
	font:               "mono 12";
	show-icons:         false;
	terminal:           "alacritty";
	matching:           "fuzzy";
	sort:               true;
	case-sensitive:     false;
	sorting-method:     "fzf";
	kb-primary-paste:   "Alt+v";
	kb-clear-line:      "Alt+c";
	kb-mode-next:       "Alt+l";
	kb-mode-previous:   "Alt+h";
	kb-row-up:          "Alt+k";
	kb-row-down:        "Alt+j";
}
@theme "/usr/share/rofi/themes/sidebar.rasi"
